{% extends "base.html" %}

{% block title %}About - TCS Open Problems{% endblock %}

{% block content %}
<div class="about-page">
    <h1>About</h1>

    <p>This website is a collection of <em>good</em> unsolved problems in theoretical computer science. Here you can share problems that you want to see solved, and find problems that you might want to work on. This is also a good place to learn about open problems outside of your usual research area.</p>

    <h2>Why use this site?</h2>

    <p>In my research experience I've noticed two common types of researchers:</p>
    <ol>
        <li>Motivated undergraduates and others early in their research career who want to work on <em>something</em>. These people often have trouble finding or generating problems at the right difficulty level.</li>
        <li>Senior researchers and experts have a lot more problems they want to see <em>solved</em> than they have time and energy. The most important ones they keep to themselves and their students, but the other questions are freely given away to anyone who will listen.</li>
    </ol>

    <p>Think of this site like a "Little Free Library" of open problems: if you have something to give away, put it here; if you are looking for something new, browse here.</p>

    <h2>Contributing</h2>

    <p>I hope this experiment works, but it needs your help.</p>

    <p>Any user can submit problems and comment on problems. They can also rate problems by difficulty and importance to the subfield; and upvote problems that seem meaningful to them.</p>

    <p>To make an account, register and then send me (Kunal Marwaha) your username. To prevent spam, I am manually approving accounts, for now restricted to researchers that either know me or someone I have met professionally.</p>

    <h2>Contact</h2>

    <p>If you have any suggestions on how to make the site better, email me at marwahaha at berkeley dot edu.</p>

    <p>The website is inspired by <a href="http://www.openproblemgarden.org">Open Problem Garden</a> and <a href="https://www.erdosproblems.com/">erdosproblems.com</a>.</p>

    <p>You may also be interested in the list of open problems in <a href="https://sublinear.info/index.php?title=Open_Problems:By_Number">sublinear algorithms</a>.</p>
</div>
{% endblock %}
